@import '../global';
@import '../mixins';

body {
    background-color: $main-grey;
}

.firstWrapper {
    position: relative;
    height: 100vh;
    padding-top: 70px;

}

.wrapper-textsvg {
    margin: 50px auto 0;
    position: relative;
    width: 70vw;
    color: $main-orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    @media(min-width: 700px) {
        flex-direction: row;
        height: 40vh;

    }
    
    &__text {
        display: inline-block;
        max-width: 70%;
        font-family: 'Play', sans-serif;
        margin: 0 0 50px 0;
        @include fluid-type(320px, 1800px, 14px, 50px);
        a {
            color: $main-orange;
            text-decoration: underline;
        }
        @media(min-width: 700px) {
            margin: 0 50px 0 0;
        }
    }
    &__svg {
        border-top: $main-orange 2px solid;
        border-left: none;
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;        
        @media(min-width: 700px) {
            padding: 0 0 0 20px;
            border-left: $main-orange 2px solid;
            border-top: none;
            flex-direction: column;
            min-height: 100%;
        }
    }
}

#mailSvg {
    display: block; 
    width: 60px;
    @media(min-width: 500px) {
        width: 90px;
    }
    @media(min-width: 1000px) {
        width: 140px;
    }
}

#linkedinSvg {
    width: 60px;
    display: block;
    @media(min-width: 500px) {
        width: 90px;
    }
    @media(min-width: 1000px) {
        width: 140px;
    }
}


.secondWrapper {
    margin: 0 auto;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    & .text {
        color: $main-orange;
        text-align: center;
        @include fluid-type(320px, 1800px, 12px, 30px);
    }
}

.contact-form {
    margin-top: 4rem;
    width: 300px;
    font-size: 12px;
    @media(min-width: 450px){
        width: 400px;
        font-size: 16px;
    }
    @media(min-width: 700px){
        width: 600px;
        font-size: 20px;
    }

    &__list li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: $main-orange;
        & label {
            width: 150px;
            padding-top: 5px;
        }
        & input, textarea {
            color: $main-orange;
            background-color: transparent;
            width: 450px;
            border: none;
            height: 40px;
            outline: none;
            padding: 10px;
            
        }
        & textarea {
            height: 100px;
            resize: none;
        }
    }
}

#name {
    border-left: 2px $main-orange solid;
    border-bottom: 2px $main-orange solid;
}

#mail {
    border-left: 2px $main-orange solid;
}

#msg {
    border-left: 2px $main-orange solid;
    border-top: 2px $main-orange solid;
}

.form-button {
    display: flex;
    justify-content: end;
    & button {
        background-color: transparent;
        padding: .5rem;
        color: $main-orange;
        border: 1px solid $main-orange;
        margin: 0 0 0 auto;
        text-align: left;
        width: 225px;
        @media(min-width: 450px){
            width: 300px;
            font-size: 16px;
        }
        @media(min-width: 700px){
            width: 450px;
        }
        &:hover {
            background-color: $main-orange;
            color: $main-grey;
            cursor: pointer;
        }
    }
}