@import '../global';
@import '../mixins';

$svg-height: 500px;

body {
    background-color: $main-grey;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.portrait {
    display: none;
    width: 40%;
    position: relative;
    height: $svg-height;
    top: calc(50vh - (#{$svg-height}/2));

    & > svg {
        position: absolute;
        left: 0;
        height: $svg-height;
    }
    @media(min-width: 950px) {
        display: block;
        
    }
}

.navigation {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumar One', cursive;
    @include fluid-type(320px, 1800px, 40px, 120px);
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 20%;
        & > li {
            display: block;
            padding: 0;
            margin-bottom: 50px;
            text-align: left;
        }
    }

}

// .navigation{
//     &__list {
//         display: flex;
//         flex-direction: column;
//         &__item {
//             max-height: 70px;
//             margin-bottom: 70px;
//             @media(min-width: 450px) {
//                 max-height: 100px;
//             }

//             @media(min-width: 680px) {
//                 max-height: 130px;
//             }

//             @media(min-width: 1300px) {
//                 max-height: 160px;
//                 margin-bottom: 50px;
//             }

//             @media(min-width: 1700px) {
//                 max-height: 190px;
//                 margin-bottom: 20px;
//             }
//             // @media(min-width: 700px) {
//             //     max-height: 160px;
//             //     margin-bottom: 0;
//             // }
//             transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
//             display: flex;
//             flex-direction: column;
//             overflow: hidden;
//             & a {
//                 transform: translateY(0%);
//                 transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
//             }
//             &:hover {
//                 transform: translateX(80px);
//                 & a {
//                     transform: translateY(-100%);
//                     transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
//                 }
//             }
//         }
//     }
// }


#portrait__line-down {
    position: absolute;
    top: 385px;
    left: 235px;
}

#portrait__line-down-left {
    position: absolute;
    top: 345px;
    left: -1998px;
}

#portrait__line-top-left {
    position: absolute;
    top: -268px;
    left: -1877px;
}

#portrait__line-left {
    position: absolute;
    left: -1338px;
    top: -100px;
}

#portrait__line-top-right {
    position: absolute;
    top: -93px;
    left: 322px;
    display: block;

}

#portrait__line-down-right {
    position: absolute;
    top: 120px;
    left: 375px;
    display: block;

}

svg {
    pointer-events: none;
}

.navigation__list li a{
    color: $main-orange;
}

// .navigation__list li:nth-child(1) a{
//     color: $main-orange;
// }

.mobile-tap-area {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
    transition: .5s;

}

.tap-text {
    text-align: center;
    margin-bottom: 10vh;
    animation-duration: 2s;
    animation-name: scrollDown;
    animation-iteration-count: infinite;
    // animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
}

.hide {
    display: none;
};

.animate-navigation {
    li:nth-child(1) a{
        transform: translateY(-100%);
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    }
    li:nth-child(2) a{
        transform: translateY(-100%);
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
        transition-delay: .5s;
    }
    li:nth-child(3) a{
        transform: translateY(-100%);
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
        transition-delay: 1s;
    }

};

#about-link > a {
    &:hover {
        &::after {
            content: "About";
        }
    }
    &::after {
        content: "Hello.";
    }
}

#projects-link > a {
    &:hover {
        &::after {
            content: "Projects";
        }
    }
    &::after {
        content: "I am";
    }
}

#contact-link > a {
    &:hover {
        &::after {
            content: "Contact";
        }
    }
    &::after {
        content: "Alan";
    }
}

#contact-link.animate-change-text > a {
    &::after {
        display: block;
        animation: slideTopContact;
        animation-fill-mode: forwards;
        animation-duration: .6s;
        animation-delay: .8s
    }
};

#projects-link.animate-change-text > a {
    &::after {
        display: block;
        animation: slideTopProjects;
        animation-fill-mode: forwards;
        animation-duration: .6s;
        animation-delay: .4s
    }
};

#about-link.animate-change-text > a {
    &::after {
        display: block;
        animation: slideTopAbout;
        animation-fill-mode: forwards;
        animation-duration: .6s;
    }
};

@keyframes slideTopContact {
    0% {
        transform: translateY(100%);
        opacity: 0;
        content: "Contact";

    }
    100% {
        transform: translateY(0);
        opacity: 1;
        content: "Contact";
    }
}


@keyframes slideTopProjects {
    0% {
        transform: translateY(100%);
        opacity: 0;
        content: "Projects";

    }
    100% {
        transform: translateY(0);
        opacity: 1;
        content: "Projects";
    }
}


@keyframes slideTopAbout {
    0% {
        transform: translateY(100%);
        opacity: 0;
        content: "About";

    }
    100% {
        transform: translateY(0);
        opacity: 1;
        content: "About";
    }
}



@keyframes scrollDown {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0);
    }
}