@import '../global';
@import '../mixins';

$svg-height: 500px;

body {
    background-color: $main-grey;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.portrait {
    display: none;
    width: 40%;
    position: relative;
    height: $svg-height;
    top: calc(50vh - (#{$svg-height}/2));

    & > svg {
        position: absolute;
        left: 0;
        height: $svg-height;
    }
    @media(min-width: 950px) {
        display: block;
        
    }
}

.navigation{
    width: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Kumar One', cursive;
    padding-left: 10vw;
    @include fluid-type(320px, 1800px, 50px, 150px);
    &__list {
        display: flex;
        flex-direction: column;
        &__item {
            max-height: 70px;
            margin-bottom: 70px;
            @media(min-width: 450px) {
                max-height: 100px;
            }

            @media(min-width: 680px) {
                max-height: 130px;
            }

            @media(min-width: 1300px) {
                max-height: 160px;
                margin-bottom: 50px;
            }

            @media(min-width: 1700px) {
                max-height: 190px;
                margin-bottom: 20px;
            }
            // @media(min-width: 700px) {
            //     max-height: 160px;
            //     margin-bottom: 0;
            // }
            transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            & a {
                transform: translateY(0%);
                transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
            }
            &:hover {
                transform: translateX(80px);
                & a {
                    transform: translateY(-100%);
                    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                }
            }
        }
    }
}


#portrait__line-down {
    position: absolute;
    top: 385px;
    left: 235px;
}

#portrait__line-down-left {
    position: absolute;
    top: 345px;
    left: -998px;
}

#portrait__line-top-left {
    position: absolute;
    top: -268px;
    left: -877px;
}

#portrait__line-left {
    position: absolute;
    left: -1338px;
    top: -100px;
}

#portrait__line-top-right {
    position: absolute;
    top: -93px;
    left: 322px;
    display: block;

}

#portrait__line-down-right {
    position: absolute;
    top: 120px;
    left: 375px;
    display: block;

}

svg {
    pointer-events: none;
}

.navigation__list li:nth-child(2) a,  .navigation__list li:nth-child(3) a{
    color: $main-orange;
}

.navigation__list li:nth-child(1) a{
    color: $main-orange;
}