@import '../global';
@import '../mixins';



.project_list {
    margin-top: 30vh;
    width: 70%;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    font-family: 'Kumar One', cursive;
    padding-left: 10vw;
    &__item {
        max-height: 160px;
        transition: ease-in-out .2s;
        margin-bottom: 6rem;
        &:hover {
            transform: translateX(80px);
        }
        & h2 {
            @include fluid-type(320px, 1800px, 28px, 100px);
            color: white;
        }
        & span {
            @include fluid-type(320px, 1800px, 12px, 40px);
        }

    }
    //         // & a {
    //         //     transform: translateY(0%);
    //         //     transition: ease-in-out .2s;
    //         // }
    //         // &:hover {
    //         //     transform: translateX(80px);
    //         //     & a {
    //         //         transform: translateY(-100%);
    //         //         transition: ease-in-out .3s;
    //         //     }
    //         // }
    //     }
    // }
}