@import '../mixins';

.wrapper {
    margin: 0 auto;
    width: 60%;

    @media screen and (max-width: 800px) {
        width: 90%;
    }
};

.project-name {
    margin-top: 30vh;
    margin-bottom: 0px;
    font-family: 'Kumar One', cursive;
    @include fluid-type(320px, 1800px, 30px, 54px);
};

.project-tags {
    display: inline-block;
    width: 100%;
    @include fluid-type(320px, 1800px, 6px, 18px);
    opacity: .5;
};

.project-image {
    margin-top: 100px;
    width: 100%;
};

.project-description, .project-ul {
    @include fluid-type(320px, 1800px, 12px, 28px);
    font-family: 'Play', sans-serif;
    line-height: 190% !important;

};

.section-title {
    margin: 100px 0;
    font-family: 'Kumar One', cursive;
    @include fluid-type(320px, 1800px, 20px, 36px);
};


a {
    color: red;
    opacity: 1;
    font-weight: 900;
}



.logo {
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 16px;
    overflow: hidden;
    transition: ease-in-out .3s;
    // z-index: 1000;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    & h1 {
        & a {
            color: black;
            text-decoration: none;
            display: inline-block;
            font-family: 'Kumar One', cursive;
            &:hover::after {
                content: "alan.xyz";
            }
            &::after {
                content: "alan";
            }
        }
    }
}

.slide-text-on-load {
    animation: .6s cubic-bezier(0.2, 0.6, 0.2, 1) slideTop;
    animation-fill-mode: backwards;
}
.slide-on-hover-reverse {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    &:hover {
        transform: translateX(-20px);
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
