@import 'mixins';


$main-orange: #E84F1C;
$main-grey: #1d1d1b;
$white: #E7DFC6;
$blue: #7D83FF;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

// p, button, label, input, span {
//     font-family: 'Play', sans-serif;
// }