@import 'mixins';


$main-orange: #E84F1C;
$main-grey: #1d1d1b;
$white: #E7DFC6;
$blue: #7D83FF;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    background-color: $main-grey;
    position: relative;
    text-rendering: optimizeLegibility;
}

p, button, label, input, span, h2, textarea {
    font-family: 'Play', sans-serif;
    color: $main-orange;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    box-shadow: 0 0 0 30px $main-grey inset !important;;
 -webkit-box-shadow: 0 0 0 30px $main-grey inset !important;
 color: $main-orange;

}


.logo {
    color: $main-orange;
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 16px;
    overflow: hidden;
    transition: ease-in-out .3s;
    z-index: 1000;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    & h1 {
        & a {
            display: inline-block;
            font-family: 'Kumar One', cursive;
            color: $main-orange;
            &:hover::after {
                content: "alan.xyz";
            }
            &::after {
                content: "alan";
            }
        }
    }
}


.downArrowContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    & span {
        @include fluid-type(320px, 1800px, 10px, 24px);
        text-align: center;
    }
}

#lineDown {
    width: 100px;
    animation-duration: 3s;
    animation-name: scrollDown;
    animation-iteration-count: infinite;
}

.slide-on-hover {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    &:hover {
        transform: translateX(40px);
    }
}
.slide-on-hover-reverse {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    &:hover {
        transform: translateX(-20px);
    }
}



.slide-text-on-load {
    animation: .6s cubic-bezier(0.2, 0.6, 0.2, 1) slideTop;
    animation-fill-mode: backwards;
}

.delay1 {
    animation-delay: .4s;
}

.delay2 {
    animation-delay: .8s;
}

@keyframes slideTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scrollDown {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}