@import 'mixins';


$main-orange: #E84F1C;
$main-grey: #1d1d1b;
$white: #E7DFC6;
$blue: #7D83FF;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    background-color: $main-grey;
    position: relative;
}

p, button, label, input, span, h2 {
    font-family: 'Play', sans-serif;
    color: $main-orange;
}

.logo {
    color: $main-orange;
    position: fixed;
    top: 40px;
    right: 20px;
    width: 88px;
    font-size: 16px;
    overflow: hidden;
    transition: ease-in-out .3s;
    z-index: 1000;
    & h1 {
        & a {
            font-family: 'Kumar One', cursive;
            color: $main-orange;
        }
    }
    &:hover {
        width: 180px;
    }
}


.downArrowContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    & span {
        @include fluid-type(320px, 1800px, 10px, 24px);
        text-align: center;
    }
}
